* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

#game-area {
  position: relative;
  height: 700px;
  background: url('../assets/road.png') repeat-x;
  background-size: auto;
  animation: animation 100000s linear infinite;
}
/* Animation takes so long to avoid the image stuttering */
@keyframes animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000000px 0;
  }
}

#character {
  position: absolute;
  z-index: 999;
  bottom: 75px;
  left: 50px;
}

#character img {
  height: 80px;
}

#play-btn {
  position: absolute;
  z-index: 999;
  background-color: orange;
  color: white;
  font-size: 36px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  letter-spacing: 5px;
  padding: 15px 45px;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  cursor: pointer;
}